* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #bb9457;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #432818;
  padding: 25px;
}

.display {
  width: 95%;
  height: 90px;
  margin: 0 0.4rem 1.5rem 0.4rem;
  text-align: right;
  font-size: 3rem;
  background-color: #6d4b33;

  padding-bottom: 0.5rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.input {
  height: 60%;
  max-width: 334px;
  color: white;
}

.output {
  height: 50px;
  max-width: 334px;
  text-align: right;
  font-size: 2rem;
  color: white;

  padding-bottom: 0.5rem;
}

.row {
  display: flex;
}

.clear,
.plus-minus,
.operators,
.backspace,
.numbers,
.dot,
.equalto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 30px;
  margin: 9px;
  cursor: pointer;
  font-weight: 900;
}

#zero {
  width: 157px;
}

.numbers { 
  background-color: #99582a;
}

.dot { 
  background-color: #99582a;
}

.numbers:hover {
  background-color: #7c4924;
}

.dot:hover {
  background-color: #7c4924;
}

.cream {
  background-color: #ffe6a7;
}

.cream:hover {
  background-color: #e9cb80;
}

.persian {
  background-color: #6f1d1b;
}

.persian:hover {
  background-color: #5c1514;
}
